.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6 {
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  display: block;
}

.modal h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.modal h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.modal h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.modal h4 {
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.modal h5 {
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

.modal h6 {
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

.modal p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.modal ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.modal ul {
  display: block;
list-style-type: disc;
margin-top: 1em;
margin-bottom: 1 em;
margin-left: 0;
margin-right: 0;
padding-left: 40px;
}

.modal a:link {
  color: (internal value);
  text-decoration: underline;
  cursor: pointer;
}

.modal a:link:active {
  color: (internal value);
}

.modal li {
  display: list-item;	
}