@tailwind base;
@tailwind components;
@tailwind utilities;

.ei-gradient {
    background: linear-gradient(to right, #004446, #22C68A);
}

.dark-green {
    background-color: #004446;
}

.fit {
    object-fit: contain;
}